<!doctype html>

<html>
<head>
	<title>BudgetNauts</title>
	<link rel="shortcut icon" href ="images/batLogo2.png"/>
	<meta charset="utf-8">
	<meta name = "viewport" content="device-width, initial-scale=1.0">
{{> cssStyles}}
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-159355075-1', 'auto');
ga('require', 'GTM-NL8TJS5');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

</head>

<body>

{{> header}}
<div class="container">
	<br>
	<h1>Welcome to Budget Bat!</h1>
	<br>

    <div>

    	<h1>Amount Left: </h1>
<br>
    	<span id="borderLeftover">{{leftover}}</span>

    </div>
    <br>
</div>

<div style = "float:right;">
		<a href="#" id = "button" class = "button">+</a>
	</div>
	<div class = "bg-modal">
				<div class = "modal-content">
					<div class = "close">+</div>
					<form method = "get" action = "/addHomeScreen" style="text-align: center">
						<h1>+</h1>
						<input type = "date" placeholder="Date" name="date">
						<input type = "text" placeholder="Name" name="name">
						<input type = "text" placeholder="Category" name="category">
						<input type = "number" step="0.01" placeholder="Price" name="price">
						<input type ="submit" id = "add" class = "button">
					</form>
				</div>
			</div>
			
{{#if pageB}}  <div style = "float:right;">
		<a href="#" id = "button" class = "button">+</a>
	</div>
	<div class = "bg-modal">
				<div class = "modal-content">
					<div class = "close">+</div>
					<form method = "get" action = "/addHomeScreen" style="text-align: center">
						<h1>+</h1>
						<input type = "date" placeholder="Date" name="date">
						<input type = "text" placeholder="Name" name="name">
						<input type = "text" placeholder="Category" name="category">
						<input type = "number" step="0.01" placeholder="Price" name="price">
						<input type ="submit" id = "add" class = "button">
					</form>
				</div>
			</div>

	<script src="./js/menuButton.js"></script>
	{{else}}{{/if}}



{{> bootstrapFiles}}
{{#if pageB}}<script src="./js/menuButton.js"></script>
{{else}}{{/if}}

<script src="./js/homeScreen.js"></script>
<script src="./js/menuButton.js"></script>
</body>
</html>
