<!doctype html>

<html>
 <head>
    <title>List Of Spending</title>
    <link rel="shortcut icon" href ="images/batLogo2.png"/>

  <meta name = "viewport" content="device-width, initial-scale=1.0">
  {{> cssStyles}}
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-159355075-1', 'auto');
  ga('require', 'GTM-NL8TJS5');
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
 </head>

<body>

{{> header}}
    <div>
      <a href="#" id = "hideshow" class = "button">edit</a>
    </div>
    <div style = "float:right;">
    		<a href="#" id = "button" class = "button">+</a>
    	</div>
    <table class='table-striped ' id = "table1">
      <thead>
          <th>Date</th>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
      </thead>

      <tbody>
      	{{#each purchase}}
          <tr class='tableID'>
          	<td data-label = "Date">{{date}}</td>
          	<td data-label = "Name">{{name}}</td>
          	<td data-label = "Category">{{category}}</td>
          	<td data-label = "Price">${{price}}</td>
            <td class = "text-center"><button type = "button" class = "btn" id="remove">Remove</button></td>
        	</tr>
    	</div>
        {{/each}}
      </tbody>
    </table>

{{> bootstrapFiles}}

<script src="./js/listOfSpending.js"></script>


</body>
</html>
